button.c-button,
.c-button {
  $blue: #10487B;
  $red: #b30015;
  $grey: #ddd;
  $green: #84C954;
  $light-grey: #ACBCC8;
  $yellow: rgb(255, 174, 0);
  $black: #1a1a1a;
  $defaultLightenValue: 15%;
  &,
  &:link,
  &:visited {
      outline: none;
      position: relative;
      padding: 6px 12px;
      font-family: var(--sans-serif), Arial, Helvetica Neue, sans-serif;
      font-weight: 300;
      font-size: 1rem;
      line-height: 1.5;
      color: var(--white);
      text-transform: capitalize;
      margin-bottom: 1rem;
      margin-right: 1rem;
      vertical-align: middle;
      border: 1px solid transparent;
  }
  &--medium {
    &,
    &:link,
    &:visited {
      padding: .3rem .8rem;
      font-size: 1rem;
      line-height: 1.3;
    }
  }

  &--large {
    &,
    &:link,
    &:visited {
      padding: .5rem 1rem;
      font-size: 1.25rem;
      line-height: 1.5;
    }
  }
    &:hover,
    &:focus,
    &:active,
    &.active {
        outline: none;
        text-decoration: none;
    }

    &--outline {
      background-color: var(--white);
      border-color: lighten($blue, $defaultLightenValue);
      color: lighten($blue, $defaultLightenValue);
      &:hover {
        background-color: $blue;
        border-color: $blue;
        color: var(--white);
      }
    }

    &--primary {
      background-color: lighten($blue, $defaultLightenValue);
      border-color: lighten($blue, $defaultLightenValue);
      &:hover {
        background-color: $blue;
        border-color: $blue;
      }
    }

    &--link {
      background-color: transparent;
      color: inherit;
      box-shadow: none;
      &:hover {
        color: lighten($blue, $defaultLightenValue);
        background-color: transparent;
      }
    }

    &--secondary {
      background-color: var(--white);
      border-color: $grey;
      color: inherit;
      &:hover {
        background-color: $grey;
        border-color: $grey;
      }
    }

    &--success {
      background-color: $green;
      border-color: $green;
      &:hover {
        background-color: darken($green, $defaultLightenValue);
        border-color: darken($green, $defaultLightenValue);
      }
    }

    &--danger {
      background-color: lighten($red, $defaultLightenValue);
      border-color: lighten($red, $defaultLightenValue);
      &:hover {
        background-color: $red;
        border-color: $red;
      }
    }

    &--warning {
      background-color: lighten($yellow, $defaultLightenValue);
      border-color:  lighten($yellow, $defaultLightenValue);
      &:hover {
        background-color: $yellow;
        border-color: $yellow;
      }
    }

    &--disabled {
      background-color: var(--white);
      border-color: $light-grey;
      color: $light-grey;
      box-shadow: none;
      opacity: .7;
      cursor: not-allowed;
      pointer-events: none;
      &:hover {
        background-color: var(--white);
        color: $light-grey;
        border-color: $light-grey;
        box-shadow: none;
      }
    }

    &--topbar {
      margin-bottom: 0;
    }

}
