button,
.c-button {
    $blue: #10487B;
    $red: #b30015;
    $grey: #ddd;
    $green: #84C954;
    $light-grey: #ACBCC8;
    $yellow: rgb(255, 174, 0);
    $black: #000;
    $defaultLightenValue: 15%;
    outline: none;
    padding: 6px 12px;
    font-family: var(--sans-serif), Arial, Helvetica Neue, sans-serif;
    font-weight: 300;
    font-size: 1rem;
    color: #fff;
    text-transform: capitalize;
    margin-bottom: 1rem;
    margin-right: 1rem;
    border: 1px solid transparent;
    &:hover,
    &:focus,
    &:active,
    &.active {
        outline: none;
    }
    &--medium { font-size: 16px; }

    &--large { font-size: 18px; }

    &--outline {
      background-color: #fff;
      border-color: lighten($blue, $defaultLightenValue);
      color: lighten($blue, $defaultLightenValue);
      &:hover {
        background-color: $blue;
        border-color: $blue;
        color: #fff;
      }
    }

    &--primary {
      background-color: lighten($blue, $defaultLightenValue);
      border-color: lighten($blue, $defaultLightenValue);
      &:hover {
        background-color: $blue;
        border-color: $blue;
      }
    }

    &--link {
      background-color: transparent;
      color: inherit;
      box-shadow: none;
      &:hover {
        color: lighten($blue, $defaultLightenValue);
        background-color: transparent;
      }
    }

    &--secondary {
      background-color: #fff;
      border-color: $grey;
      color: inherit;
      &:hover {
        background-color: $grey;
        border-color: $grey;
      }
    }

    &--success {
      background-color: lighten($green, $defaultLightenValue);
      border-color: lighten($green, $defaultLightenValue);
      &:hover {
        background-color: $green;
        border-color: $green;
      }
    }

    &--danger {
      background-color: lighten($red, $defaultLightenValue);
      border-color: lighten($red, $defaultLightenValue);
      &:hover {
        background-color: $red;
        border-color: $red;
      }
    }

    &--warning {
      background-color: lighten($yellow, $defaultLightenValue);
      border-color:  lighten($yellow, $defaultLightenValue);
      &:hover {
        background-color: $yellow;
        border-color: $yellow;
      }
    }

    &--disabled {
      background-color: #fff;
      border-color: $light-grey;
      color: $light-grey;
      box-shadow: none;
      opacity: .7;
      cursor: not-allowed;
      pointer-events: none;
      &:hover {
        background-color: #fff;
        color: $light-grey;
        border-color: $light-grey;
        box-shadow: none;
      }
    }

}
