@mixin alpha($property, $color-variable, $opacity) {
    $color-variable-h: var(#{$color-variable+'-h'});
    $color-variable-s: var(#{$color-variable+'-s'});
    $color-variable-l: var(#{$color-variable+'-l'});
    #{$property}: hsla($color-variable-h, $color-variable-s, $color-variable-l, $opacity);
}

.c-blog-article-group {
    display: flex;
    flex-flow: row wrap;
    @media screen and (min-width: 50rem) {
        justify-content: space-between;
    }
}
.c-blog-article {
    width: 100%;
    display: inline-block;
    font: 400 1rem/1.8 Segoe, -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif;
    // & + & { margin-left: 2rem; }
    @media screen and (min-width: 50rem) {
        width: 30%;
    }
    &__heading {
        color: var(--black);
        font-weight: 700;
    }

    &__title { margin-bottom: .5rem; }

    &__subtitle,
    &__date {
        @include alpha(color, --black, .25);
        margin-bottom: .3rem;
    }

    &__date {
        color: var(--gray);
        font-size: .75rem;
        line-height: 1;
    }
    &__image {
        margin: 20px 0;
        img {
            max-width: 100%;
            width: 100%;
        }
    }
    &__body {
        margin: 0 0 20px;
        color: var(--gray);
        p {
            font-size: 1rem;
            line-height: 1.8;
        }
        &>p:last-child {
            &:after {
                display: inline;
                content: '\2026';
                color: inherit;
            }
        }
    }
}

[data-theme=dark] .c-blog-article {
    &__date,
    &__body {
        color: var(--c-dfark-text);
    }
}
