<h1 class="text-center my-5">Phantom Guide Style</h1>
<!--
    - Breadcrumb
    - Button group
    - Carousel
    - Collapse
    - Dropdowns
    - Forms
    - Input group
    - Jumbotron
    - List group
    - Media object
    - Modal
    - Navs
    - Navbar
    - Pagination
    - Popovers
    - Progress
    - Scrollspy
    - Spinners
    - Toasts
    - Tooltips
 -->
<!-- @@include ./_titles/_titles.html -->
<!-- @@include ./_alert/_alert.html -->
<!-- @@include ./_separator/_separator.html -->
<!-- @@include ./_button/_button.html -->
<!-- @@include ./_badge/_badge.html -->
<!-- @@include ./_card/_card.html -->
