
.c-blockquote {
    $dark-fade: rgba(51, 51, 51, .8);
    position: relative;
    margin: 0 0 1rem 0;
    padding: 1rem;
    border: 1px solid $dark-fade;
    border-radius: 0;
    color: var(--c-light-text);
    background-color: var(--c-light-background);
    &__title {
        margin-left: 1rem;
        font-size: 1.5625rem;
        line-height: 1.4;
        margin-bottom: 0.5rem;
    }

    blockquote {
        margin: 0 0 1.5rem;
        padding: 0.5625rem 1.25rem 0 1.1875rem;
        quotes: "“" "”" "‘" "’ ";
        border-left: none;
        font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
        &:before,
        &:after {
            color: var(--gray);
            font-size: 4em;
            line-height: 0.1em;
        }
        &:before {
            content: open-quote;
            vertical-align: -0.4em;
        }
        &:after {
            content: close-quote;
            vertical-align: -0.6em;
        }
        &, p {
            font-size: 1rem;
            line-height: 1.6;
        }

        & > :last-child {
            margin-bottom: 0;
        }

    }
    &__content {
        display: inline;
        color: var(--c-dark-background);
        text-rendering: optimizeLegibility;
    }
}

.c-blockquote-container {
    &--right {
        float: right;
        width: 35%;
        margin-left: 2rem;
        @media screen and (max-width: 500px) {
            float: none;
            width: 100%;
            margin-left: 0;
        }
    }
    &--left {
        float: left;
        width: 35%;
        margin-right: 2rem;
        @media screen and (max-width: 500px) {
            float: none;
            width: 100%;
            margin-right: 0;
        }
    }

}
.c-blockquote {
    [data-theme="light"] & {
        border-color: rgba(var(--dark), .25);
        color: var(--c-light-text);
        background-color: var(--c-light-background);
        .c-blockquote__content {
            color: var(--c-light-text);
        }
    }
    [data-theme="dark"] & {
        border-color: rgba(var(--light), .25);
        color: var(--c-dark-text);
        background-color: var(--c-dark-background);
        blockquote:before,
        blockquote:after {
            color: var(--c-dark-text);
        }
        .c-blockquote__content {
            color: var(--c-dark-text);
        }
    }
}
