@import "../_separator/separator.scss";
.c-alert {
    $blue: #10487B;
    $red: #b30015;
    $grey: #F8F9FA;
    $green: #84C954;
    $light-grey: #ACBCC8;
    $yellow: #BA9337;
    $black: #1a1a1a;
    $defaultMarginValue: 1rem;
    $defaultDarkenValue: 20%;
    $defaultLightenValue: 30%;
    font: 300 1rem/1.4 var(--sans-serif);
    position: relative;
    overflow: hidden;
    padding: ($defaultMarginValue * .75) ($defaultMarginValue * 1.25);
    margin-bottom: $defaultMarginValue;
    border: 1px solid transparent;
    border-radius: 0;
    opacity: 1;
    visibility: visible;
    transition: all .15s ease-out 0s;
    background-color: $grey;
    color: #8A8A8A;
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
                0 6.7px 5.3px rgba(0, 0, 0, 0.048),
                0 12.5px 10px rgba(0, 0, 0, 0.06);
    &:before {
        height: 100%;
        width: 6px;
        position: absolute;
        top: 0; left: 0;
        content: '';
    }
    &--primary:before {
        background-color: lighten($blue, $defaultDarkenValue);
    }
    &--secondary:before {
        background-color: $grey;
    }
    &--success:before {
        background-color: $green;
    }
    &--danger:before {
        background-color: lighten($red, $defaultDarkenValue);
    }
    &--warning:before {
        background-color: lighten($yellow, $defaultDarkenValue);
    }
    &--info:before {
        background-color: $light-grey;
    }

    hr {
        @include separator();
    }
    &__heading {
        margin-bottom: $defaultMarginValue*2;
        position: relative;
        &::after {
            position: absolute;
            bottom: -$defaultMarginValue; left: 0;
            width: 100%;
            display: block;
            content: '';
            height: 1px;
            background-color: #d1d1d1;

        }
    }
    &--dismissed {
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        height: 0;
        margin: 0; padding: 0;
    }
    &__close {
        input[type=checkbox] {
            position: absolute;
            left: -9999px;
            visibility: hidden;
            opacity: 0;
        }
        label {
            height: 14px; width: 14px;;
            position: absolute;
            top: $defaultMarginValue/2;
            right: $defaultMarginValue;
            color: inherit;
            cursor: pointer;
            transition: all .15s linear 0s;
            transform: scale(1);
            &:hover {
                font-weight: 400;
                transform: scale(1.1);
            }
        }
    }
}
