<section class="c-section">
    <h2>Forms</h2>
    <form>
        <div class="c-form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="c-form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email address">
            <small id="emailHelp" class="c-form-text u-text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="c-form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="c-form-control" id="exampleInputPassword1" placeholder="Password">
        </div>
        <div class="c-form-group c-form-check">
            <input type="checkbox" class="c-form-check__input" id="exampleCheck1">
            <label class="c-form-check__label" for="exampleCheck1">Check me out</label>
        </div>
        <div class="c-form-group c-form-radio">
            <input type="radio" name="size" id="small" class="c-form-radio__input">
            <label for="small" class="c-form-radio__label">
                <span class="c-form-radio__button"></span>
                Radio button #1</label>
        </div>
        <div class="c-form-group c-form-radio">
            <input type="radio" name="size" id="small_2" class="c-form-radio__input">
            <label for="small_2" class="c-form-radio__label">
                <span class="c-form-radio__button"></span>
                Radio button #2</label>
        </div>
        <div class="c-form-group">
            <button type="submit" class="c-button c-button--primary">Submit</button>
        </div>
      </form>
</section>
