<section class="c-section">
    <h2>Badges</h2>
    <p>
        Primary<span class="c-badge c-badge--primary">Primary</span>
    </p>
    <p>Secondary
        <span class="c-badge c-badge--secondary">Secondary</span>
    </p>
    <p>Success
        <span class="c-badge c-badge--success">Success</span>
    </p>
    <p>Danger
        <span class="c-badge c-badge--danger">Danger</span>
    </p>
    <p>Warning
        <span class="c-badge c-badge--warning">Warning</span>
    </p>
    <p>Info
        <span class="c-badge c-badge--info">Info</span>
    </p>
    <p>Light
        <span class="c-badge c-badge--light">Light</span>
    </p>
    <p>Dark
        <span class="c-badge c-badge--dark">Dark</span>
    </p>
    <hr>
    <p>
        <button type="button" class="c-button c-button--primary">
            Profile <span class="c-badge c-badge--light">9</span>
            <span class="sr-only">unread messages</span>
        </button>
    </p>
</section>
